<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<title>404 Not Found</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

	<!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600'>
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">
	<style>
		body {
			color: white;
			background-color: black;
			text-align: center;
			font-family: 'Merriweather', serif;
		}

		h1 {
			font-size: 56px;
			font-weight: bold;
			padding: 50px;
		}

		#Img404{
			filter: invert(100%);
		}
	</style>

</head>

<body>
	<!-- Navbar -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">
			<img src="/static/Images/logo-final1.png" width="45" height="45" alt="">
		</a>
		<a class="navbar-brand" href="/"><b>Khushi's Anime Reviews</b></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span
				class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Home <span class="sr-only"></span></a>
                <a class="nav-item nav-link" href="/#contactus"> Talk to Me <span class="sr-only"></span></a>
                <a class="nav-item nav-link" href="/features">Monthly Features</a>
                <a class="nav-item nav-link" href="/reviews">My Reviews</a>
                <a class="nav-item nav-link active" href="/updates">Updates</a>
			</div>
		</div>
	</nav>

	<!-- Cover -->
	<div class="page-single-2">
		<div class="container">
			<div class="row">
				<div class="middle-content">
					<a href="index-2.html">
						<img class="md-logo" src="" alt="">
					</a>
					<h1>Page not found</h1>
					<img src="/static/Images/404.png" alt="" id="Img404"> <br>
					<a href="/Home.html" class="redbtn" style="font-size: 19px;"><p style="margin: 25px;">Go Home</p></a>
					<p style="font-size: 19px; margin: 11px;">There are no current updates as of now. You can post your suggestions or show recommendation in the "Talk to Me" box, I'd love to get in touch and interact with you!</p>
				</div>
			</div>
		</div>
	</div>


	<!-- Footer -->
	<footer style="text-align: center;">
		<br>
		<div class="center"> Copyright &copy; Khushi's Anime Reviews 2021. All rights reserved. </div>
	</footer>

	<!-- Java Script -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
</body>

</html>